* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans',Arial, Helvetica, sans-serif;
    
    
  }
  
  body {
    width: 100%;
    height: 100vh;
   
  }
  #home{
    width: 100%;
    height: 100vh;
    padding-top: 0 , 70px;
    background-color:  #76cafa;
  }
 .home-btn{
   margin: 90px auto 0;
   text-align: center;
 }
 .home-btn a{
   width : 150px;
   text-decoration: none;
   display: inline-block;
   margin: 0 10px;
   padding: 12px 0;
   border: .5px solid white;
   text-align: center;
    font-size: 15px;
    font-weight: 5px;
    font-family: 'Open Sans', sans-serif;
    color:black;
 }

  nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  }
li{
  float: right;
} 
nav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
} 
li a:hover {
  background-color: #76cafa ;
}  
  h1{
    padding: 5%;
    font-size: 25px;
    font-weight: 5px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
  }
  h1 span {
color: blue;
  }
  
  .container {
    font-family: 'Noto Sans', sans-serif;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    min-height: 70vh;
    width:80%;
    
   
  }
  
  .container .card {
    width: 300px;
    height: auto;
    padding: 10px 0;
    text-align: center;
    background: linear-gradient(135deg, #76cafa 0%, #4f72f1 100%);
    border-radius: 15px;
    box-shadow: 2px 5px 15px blue;
    transition: transform 0.3s;

  
  }
  
  .container .card:hover {
    transform: scale(1.05);
  }
  
  .container .card .cardtitle {
    padding: 30px 20px;
    border-bottom: 2px solid gray;
  }
  
  .container .card .cardtitle h2 {
    font-size: 20px;
    padding-bottom: 15px;
    color: black;
  }
  
  .container .card .cardtitle p span {
    font-size: 40px;
    padding: 0 5px;
  }
  
  .container .card .cardcontent ul {
    padding: 10px 30px;
    padding-bottom: 20px;
  }
  
  .container .card .cardcontent ul li {
    list-style: none;
    padding: 10px 0;
    align-items: center;
    display: flex;
    font-size: 13px;
  }
  
  .container .card .cardcontent button{
    width: 120px;
    padding: 10px 20px;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .container .card .cardcontent button:hover {
    background-color: #17ead9;
    letter-spacing: 1.2px;
  }
  
  .container .card .cardcontent button a {
    text-decoration: none;
    color: black;
    font-size: 13px;
  }
  @media screen and (max-width:770px){
    h1 {
      font-size: 25px;
    }
  }
  